.profile {
  display: block;
}
.description {
  display: block;
}
.avatar {
  display: block;
}
.name {
  display: block;
}
.tag {
  display: block;
}
.location {
  display: block;
}
.stats {
  display: block;
}
.label {
  display: block;
}
.quantity {
  display: block;
}
