.table {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;

  color: #ababab;
  background-color: #fdfdfd;
  border: 1px solid #dedede;
}

.head {
  color: #efefff;
  font-weight: 700;
  background-color: #45abbb;
}

.row:nth-child(even) {
  background-color: #efefff;
}

.row td,
.row th {
  padding: 10px;
  border: 1px solid #dedede;
}

.column {
  width: 150px;
  text-align: center;
}
